asgiref==3.9.1
certifi==2026.1.4
charset-normalizer==3.4.4
colorama==0.4.6
Django==5.2.4
django-nested-admin==4.1.6
django-unfold==0.76.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-yasg==1.21.10
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
packaging==25.0
pillow==12.1.0
pluggy==1.6.0
-e git+https://github.com/mammadov115/vitr.git@78dfda7bcb8db4c089e2fdfd4c1db690204ade46#egg=project
psycopg2-binary==2.9.10
Pygments==2.19.2
PyJWT==2.10.1
pytest==9.0.2
pytest-django==4.11.1
pytest-mock==3.15.1
python-dotenv==1.1.1
python-monkey-business==1.1.0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.6.3
